ion-icon{
    font-size: 3em;
}
.read-more ion-icon{
    font-size: 1.2em;
}
p{
    font-size: 1.1em;
}
.accordion-button{
    font-size: .7em;
}
.card img{
    width: 10em;
}
.social-media ion-icon{
    font-size: 1.5em;
}
.address-info p{
    border-bottom: 1px solid #ccc;
}